# 서울시 스마트서울맵 OpenAPI 키
SMART_SEOUL_API_KEY=KEY218_ae66cb26032d46a3a91d570c6e5cf87c
SEOUL_THEME_API_KEY=KEY218_1a567f902d84441299f32476f2de867f

# 카카오 지도 API 키
KAKAO_API_KEY=504f485ba32aedc877afaa80a956af83

# 서버 설정
PORT=3000
NODE_ENV=development

# CORS 설정
CORS_ORIGIN=http://localhost:3000

# 로그 레벨
LOG_LEVEL=info 